<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
  <a class="navbar-brand" href="#!/app">Meu Sistema</a>
  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
      <li class="nav-item">
        <a class="nav-link" href="#!/app">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/cadastro" ng-if="$ctrl.isAuthenticated">Cadastro</a>
      </li>
      <li class="nav-item" ng-if="$ctrl.token">
        <button class="btn btn-danger" ng-click="$ctrl.logout()">Sair</button>
      </li>
    </ul>
  </div>
</nav>
